.title h1 {
  font-size: 7em;
  margin-bottom: 0.8em;
  line-height: 0.9em;
}

.title p {
  font-size: 1.5em;
  line-height: 2em;	
}

footer.frame {
  text-align: center;
  font-size: 0.8em;
}

#frame1 {
	width: 27%;
	text-align: justify;
	margin: 3%;
}

#eye {
	position:absolute;
	margin-left: 50%;
	margin-right: 50%;
	margin-bottom: 20%;
	margin-top: 50%;
}