#eye {
	position:absolute;
	margin-left: 35%;
	margin-top: 10%;
	margin-right: 35%;
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.button {
	display: inline-block;
	width: 17%;
	margin: 5%;
	vertical-align: top;
	cursor: pointer;
}

.frame {
	position: absolute;
	width: 35%;
	text-align: justify;
	opacity: 0;
	display: none;
}

#frame1 {
	margin: 3%;
}

#frame2 {
	margin-top: 3%;
	margin-left: 30%;
}


#frame3 {
	margin-top: 3%;
	margin-left: 60%;
}

#frame4 {
	margin-left: 3%;
	margin-top: 12%;
}

#frame5 {
	margin-top: 12%;
	margin-left: 30%;
}

#frame6 {
	margin-top: 12%;
	margin-left: 60%;
}

#frame7 {
	margin-top: 20%;
	margin-left: 30%;
}