body {
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	color: #FFFFFF;
	font-family: 'Steelfish Rg', sans-serif;

}

#eye {
	position:absolute;
	display: inline-block;
	vertical-align: top;
	margin-left: 9%;
	height: 90%;
	margin-top: 3%;
	color: #1F5A98;
}

.circle {
	width: 90%;
}

#home-title {
	position: absolute;
	width: 18%;
	text-align: center;
	margin-left: 34%;
	margin-top: -9%;
	color: white;
}

#description1 {
	position: absolute;
	margin-top: -9%;
	margin-left: 3%;
}

#description2 {
	position: absolute;
	margin-top: -9%;
	margin-left: 6%;
}

#description3 {
	position: absolute;
	margin-top: -9%;
	margin-left: 3%;
}

#description4 {
	position: absolute;
	margin-top: -13%;
	margin-left: 3.5%;
}

#description5 {
	position: absolute;
	margin-top: -8%;
	margin-left: 5%;
}

#description6 {
	position: absolute;
	margin-top: -14%;
	margin-left: 3%;
	width: 12%;
	text-align: center;
}


.button {
	display: inline-block;
	margin: 5%;
	vertical-align: top;
	cursor: pointer;
}

.frame {
	position: absolute;
	width: 75%;
	margin: 3%;
	text-align: justify;
	opacity: 0;
	display: none;
	font-weight: 100;
}

#frame2 {
	margin-left: 12%;
}

#frise {
	background-color: rgba(255,255,255, 0.3);
	border: 2px solid #1F5A98;
	padding: 5%;
}

#frame3 {
	margin-left: 22%;
}

#carte {
	width: 100%;
}

#frame4 {
	margin-top: 12%;
}

#donnees {
	background-color: rgba(255,255,255, 0.3);
	border: 2px solid #1F5A98;
	padding: 5%;
}

#donnees-title {
	border: 2px solid white;
	text-align: center;
	font-size: 2em;
}

#donnees-image {
	border: 2px solid white;
	margin-left: 15%;
}

#button_eye1 {
	position: fixed;
	top: 0%;
	left: 90%;
}

#button_eye2 {
	position: fixed;
	top: 0%;
	left: 90%;
}

#button_eye3 {
	position: fixed;
	top: 0%;
	left: 90%;
}

#button_eye4 {
	position: fixed;
	top: 0%;
	left: 90%;
}

#button_eye5 {
	position: fixed;
	top: 0%;
	left: 90%;
}

#button_eye6 {
	position: fixed;
	top: 0%;
	left: 90%;
}

#frame5 {
	margin-top: 12%;
	margin-left: 12%;
}

#frame6 {
	margin-top: 12%;
	margin-left: 22%;
}

#frame7 {
	margin-top: 20%;
	margin-left: 12%;
}

#button_frame1 {
	margin-left: 20%;
	margin-top: 4%;
}

#button_frame2 {
	margin-left: -12%;
	margin-top: 0%;
}

#button_frame3 {
	margin-left: -13%;
	margin-top: 4%;
}

#button_frame4 {
	margin-left: 20%;
	margin-top: -4%;
}

#button_frame5 {
	margin-left: -12%;
	margin-top: 4.5%;
}

#button_frame6 {
	margin-left: -13%;
	margin-top: -4%;
}
