.title h1 {
  font-size: 7em;
  margin-bottom: 0.8em;
  line-height: 0.9em;
}

.title p {
  font-size: 1.5em;
  line-height: 2em;	
}

body {
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;

}