.title h1 {
  font-size: 3em;
  margin-bottom: 0.8em;
  line-height: 1.4em;
}

.title p {
  font-size: 1.5em;
  font-weight: 100;
}

body {
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;

}