
#frame1 {
	width: 35%;
	text-align: justify;
	margin: 3%;
	opacity: 0;
	display: none;
}

#eye {
	position:absolute;
	margin-left: 50%;
	margin-right: 50%;
	margin-bottom: 20%;
	margin-top: 20%;
}

#eye p:hover {
	cursor: pointer;
}